<div class="container-fluid">
  <div class="row">
    <carousel [isAnimated]="true" [interval]="30000" [noPause]="false" [showIndicators]="true">
      <slide *ngFor="let carouselSlide of carouselSlideData" class="d-block">
        <div class="d-flex align-items-center justify-content-center text-white carouselSlide"
          [ngClass]="getCarouselClass(carouselSlide.id)">
          <div class="lead text-center">
            <h2>First custom content</h2>
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>