<section id="homeBlock" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="getNavBarClass()">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img class="logo" src="../assets/TRE-Trans-Logo.png">
        <span class="fw-500 fs-5">Tanvika Real Estate</span>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5">
          <li class="nav-item" *ngFor="let pageMenu of pageMenus" (click)="goToBlock(pageMenu.block)">
            <a class="nav-link active text-white pointerCursor px-3" [href]="pageMenu.block">{{ pageMenu.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <carousel [isAnimated]="true" [interval]="3000" [noPause]="false" [showIndicators]="true">
    <slide *ngFor="let carouselSlide of carouselSlideData" class="d-block">
      <div class="d-flex align-items-center justify-content-center text-white carouselSlide"
        [ngClass]="getCarouselClass(carouselSlide.id)">
        <div class="lead text-center">
          <h2>{{ carouselSlide.firstText }} custom content</h2>
          <h3>{{ carouselSlide.firstText }} slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </slide>
  </carousel>
</section>

<div class="container-fluid">
  <!-- <div class="row" id="homeBlock">
    <carousel [isAnimated]="true" [interval]="3000" [noPause]="false" [showIndicators]="true">
      <slide *ngFor="let carouselSlide of carouselSlideData" class="d-block">
        <div class="d-flex align-items-center justify-content-center text-white carouselSlide"
          [ngClass]="getCarouselClass(carouselSlide.id)">
          <div class="lead text-center">
            <h2>{{ carouselSlide.firstText }} custom content</h2>
            <h3>{{ carouselSlide.firstText }} slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div> -->

  <!-- <div class="row" id="welcomeBlock">
    <div class="welcomeBlock">
      <h2>Welcome to Tanvika</h2>
      <p>
        Whether you’re buying, selling or renting, we can help you move forward.
      </p>
    </div>
  </div> -->


  <div class="row servicesBlock" id="servicesBlock">
    <h2 class="text-center">Services</h2>
    <div class="headerUnderline mx-auto"></div>
    <div class="cardList mt-4">
      <div class="cardListItem" *ngFor="let service of serviceData">
        <div class="card border-0 pt-2">
          <div class="d-flex justify-content-center">
            <img src="../assets/images/services/{{service.image}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">{{ service.title }}</h5>
            <p class="card-text my-4">{{ service.content }}</p>
            <div class="d-block text-center">
              <button class="btn btn-sm btn-primary rounded-pill px-3">Enquire now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="aboutUsBlock pt-5" id="aboutUsBlock">
    <h2 class="text-center">Who We Are!</h2>
    <div class="headerUnderline mx-auto"></div>
    <section class="mx-5">
      <ng-container [ngTemplateOutlet]="aboutUsTempLeftToRight"
        [ngTemplateOutletContext]="{aboutUsData : aboutUsData[0]}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="aboutUsTempRightToLeft"
        [ngTemplateOutletContext]="{aboutUsData : aboutUsData[1]}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="aboutUsTempLeftToRight"
        [ngTemplateOutletContext]="{aboutUsData : aboutUsData[2]}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="aboutUsTempRightToLeft"
        [ngTemplateOutletContext]="{aboutUsData : aboutUsData[3]}">
      </ng-container>
    </section>
  </div>

  <div class="row contactUs mb-5" id="contactUs">
    <h2 class="text-center">Contact Us</h2>
    <div class="headerUnderline mx-auto"></div>
    <div class="cardList mt-4">
      <div class="cardListItem" [ngClass]="{'border-end': !last}" *ngFor="let contact of contactData; let last = last">
        <div class="card border-0 pt-2">
          <div class="d-flex justify-content-center">
            <img src="../assets/images/contactus/{{contact.image}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">{{ contact.title }}</h5>
            <p class="card-text mt-4 mb-1 text-secondary">{{ contact.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footerBlock p-5 bg-dark mx-2" id="footerBlock">
    <div class="about">
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus iste unde
        quisquam
        beatae dolor ullam
        doloremque. Minima incidunt inventore esse dolor temporibus hic quisquam architecto odio perferendis
        at!
        Aliquam, earum.
      </p>

      <div class="socialMedia">
        <ul class="list-group list-group-horizontal d-flex justify-content-center">
          <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook rounded-circle"></i></a></li>
          <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter rounded-circle"></i></a></li>
          <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus rounded-circle"></i></a></li>
          <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin rounded-circle"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row copyrightBlock py-2 bg-dark text-dark border-top border-secondary mx-2 mb-2" id="copyrightBlock">
    <span class="d-block text-center text-secondary small mb-1">
      Copyright 2021 | All Rights Reserved by Tanvika Real Estate</span>
  </div>
</div>

<ng-template #aboutUsTempLeftToRight let-aboutUsData="aboutUsData">
  <div class="aboutUsList m-5">
    <div class="aboutImageItem">
      <img src="../assets/images/services/{{aboutUsData.image}}" class="rounded">
    </div>
    <div class="aboutDetailItem mx-4">
      <div class="nameDesignation">
        <span class="h5 fw-bold">{{aboutUsData.name}}</span>
        <span class="ms-2 designation">({{aboutUsData.designation}})</span>
      </div>
      <p class="mt-3">{{ aboutUsData.about }}</p>
    </div>
  </div>
</ng-template>

<ng-template #aboutUsTempRightToLeft let-aboutUsData="aboutUsData">
  <div class="aboutUsList m-5">
    <div class="aboutDetailItem mx-4">
      <div class="nameDesignation" style="text-align: end;">
        <span class="h5 fw-bold">{{aboutUsData.name}}</span>
        <span class="ms-2 designation">({{aboutUsData.designation}})</span>
      </div>
      <p class="mt-3">{{ aboutUsData.about }}</p>
    </div>
    <div class="aboutImageItem">
      <img src="../assets/images/services/{{aboutUsData.image}}" class="rounded">
    </div>
  </div>
</ng-template>